[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=mirror_tools
X-Python-2-Compatible=false
Name=Mirror Tools
Comment=Add Mirror Tools.
